<!DOCTYPE html>
<html>
<head>
<title>Directory Services Error Page</title>
</head>
<body>
<h2>Directory Services Error</h2>
The requested end-point could not be reached.
<p>Your path should be <strong>http://{host-name}:{port}/portal/...</strong></p>
<h3>Available end-points are: </h3>
<ul>
  <li>/portal/status</li>
  <li>/portal/v1/incidents</li>
  <li>/portal/v1/getincidentbyid?id={}</li>
  <li>/portal/v1/standardSearch?firstName={}&amp;lastName={}</li>
  <li>/portal/v1/advancedSearch</li>
  <li>/portal/v1/incident/delete</li>
  <li>/portal/v1/incident/update</li>
  <li>/portal/v1/incident/add</li>
</ul>  
</body>
</html>